table{
     border-collapse: collapse;
}
table .title{
    color:green;
    cursor:pointer;
    text-transform: uppercase;
}
table td{
    border:1px solid gray;
    text-align: center;
    padding:5px;
}
table tbody tr:nth-child(even){
    background: #F1F1F1;
}
table .search{
    background:yellow;
}
.butSearch{
    background: none;
    border:2px solid gray;
}
.lineSearch{
    outline: none;
}
.paginationLink{
    display: inline-block;
    padding: 3px 8px;
    border:1px solid;
}
